* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1200px;
  font-family: Roboto;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  font-size: 16px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .wrapper {
    width: 100%;
    padding-left: 12px;
  }
}

.header {
  background-color: #6E36F7;
  height: 450px;
}
@media (max-width: 500px) {
  .header {
    width: 100%;
    height: auto;
  }
}
.header_box {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .header_box {
    width: 100%;
  }
}
.header_box-roof {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 650px;
  height: 50px;
  position: relative;
  left: 42%;
  margin-top: 15px;
  margin-bottom: 25px;
}
@media (max-width: 500px) {
  .header_box-roof {
    width: 90%;
    left: 0;
    justify-content: end;
  }
}
.header_p {
  cursor: pointer;
}
.header_p:hover {
  color: black;
}
@media (max-width: 500px) {
  .header_p {
    display: none;
  }
}
.header .globus-language {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header #language {
  background-color: inherit;
  border: none;
  outline: none;
  font-family: Roboto;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.header #language:hover {
  color: black;
}
@media (max-width: 500px) {
  .header #language {
    display: none;
  }
}
.header .option {
  background-color: #6E36F7;
  border: none;
}
.header h1 {
  color: rgb(226, 121, 138);
  margin: 20px 0;
  font-size: 42px;
}
.header_box-chapter {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 10px 0;
}
@media (max-width: 500px) {
  .header_box-chapter {
    flex-direction: column;
  }
}
.header .chapter {
  text-align: center;
  width: 140px;
  padding: 10px 0;
  background-color: #7f61ca;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-weight: bold;
  transition: transrorm 0.1s ease;
  cursor: pointer;
}
.header .chapter:hover {
  background-color: white;
  color: black;
}
.header .chapter:active {
  transform: scale(0.95);
}
@media (max-width: 500px) {
  .header .chapter {
    margin: 5px 0;
  }
}
.header .chapter-hotel {
  display: flex;
  justify-content: space-around;
}
.header .percent {
  background-color: green;
  width: 55px;
  height: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.header .percent:hover {
  background-color: red;
}
.header_box-input {
  position: relative;
  display: flex;
}
@media (max-width: 500px) {
  .header_box-input {
    flex-direction: column;
  }
}
.header_rote {
  display: flex;
  width: 175px;
  justify-content: space-between;
  margin: 10px 0;
}
.header .lab-1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  left: 10px;
}
@media (max-width: 500px) {
  .header .lab-1 {
    top: 10%;
    left: 25px;
  }
}
.header .lab-2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  left: 280px;
  left: 280px;
}
@media (max-width: 500px) {
  .header .lab-2 {
    top: 28%;
    left: 25px;
  }
}
.header .lab-3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  left: 545px;
}
@media (max-width: 500px) {
  .header .lab-3 {
    top: 47%;
    left: 25px;
  }
}
.header .lab-3-1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  left: 650px;
}
@media (max-width: 500px) {
  .header .lab-3-1 {
    display: none;
    top: 50%;
    left: 25px;
  }
}
.header .lab-4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  left: 815px;
}
@media (max-width: 500px) {
  .header .lab-4 {
    top: 66%;
    left: 25px;
  }
}
.header_input {
  width: 266px;
  height: 70px;
  margin: 10px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .header_input {
    width: 95%;
    margin: 0px;
  }
}
.header .button-in-header {
  background-color: rgb(217, 53, 53);
  font-family: Roboto;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 115px;
  height: 70px;
  margin: 10px 10px;
  border: none;
  border-radius: 10px;
  transition: transrorm 0.1s ease;
  cursor: pointer;
}
.header .button-in-header:hover {
  background-color: white;
  color: black;
}
.header .button-in-header:active {
  transform: scale(0.95);
}
@media (max-width: 500px) {
  .header .button-in-header {
    width: 95%;
    margin: 10px 0;
  }
}
.header .input-1 {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.header .input-1:not(:-moz-placeholder-shown) + .lab-1 {
  transform: translateY(-180%);
  font-size: 12px;
}
.header .input-1:focus + .lab-1, .header .input-1:not(:placeholder-shown) + .lab-1 {
  transform: translateY(-180%);
  font-size: 12px;
}
@media (max-width: 500px) {
  .header .input-1 {
    border-bottom-left-radius: 0;
    border-top-right-radius: 7px;
  }
}
.header .input-2 {
  border-left: 1px solid lightgray;
}
.header .input-2:not(:-moz-placeholder-shown) + .lab-2 {
  transform: translateY(-180%);
  font-size: 12px;
}
.header .input-2:focus + .lab-2, .header .input-2:not(:placeholder-shown) + .lab-2 {
  transform: translateY(-180%);
  font-size: 12px;
}
@media (max-width: 500px) {
  .header .input-2 {
    border-bottom: none;
    border-top: lightgray;
  }
}
.header .input-3 {
  border-left: 1px solid lightgray;
  width: 133px;
}
.header .input-3:not(:-moz-placeholder-shown) + .lab-3 {
  transform: translateY(-180%);
  font-size: 12px;
}
.header .input-3:focus + .lab-3, .header .input-3:not(:placeholder-shown) + .lab-3 {
  transform: translateY(-180%);
  font-size: 12px;
}
@media (max-width: 500px) {
  .header .input-3 {
    width: 95%;
    border-bottom: 1px solid lightgray;
  }
}
.header .input-3-1 {
  width: 133px;
}
.header .input-3-1:not(:-moz-placeholder-shown) + .lab-3-1 {
  transform: translateY(-180%);
  font-size: 12px;
}
.header .input-3-1:focus + .lab-3-1, .header .input-3-1:not(:placeholder-shown) + .lab-3-1 {
  transform: translateY(-180%);
  font-size: 12px;
}
@media (max-width: 500px) {
  .header .input-3-1 {
    display: none;
    width: 95%;
  }
}
.header .input-4 {
  border-left: 1px solid lightgray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}
.header .input-4:not(:-moz-placeholder-shown) + .lab-4 {
  transform: translateY(-180%);
  font-size: 12px;
}
.header .input-4:focus + .lab-4, .header .input-4:not(:placeholder-shown) + .lab-4 {
  transform: translateY(-180%);
  font-size: 12px;
}
@media (max-width: 500px) {
  .header .input-4 {
    border-top-right-radius: 0;
    border-bottom-left-radius: 7px;
  }
}
.header .calendar-in-input-img {
  position: absolute;
  top: 32px;
  left: 1022px;
  border-radius: 7px;
  cursor: pointer;
  transition: transform 0.1s ease;
}
.header .calendar-in-input-img:hover {
  transform: scale(1.3);
}
@media (max-width: 500px) {
  .header .calendar-in-input-img {
    left: 420px;
    top: 62%;
  }
}
.header .calendar-box {
  display: flex;
  width: 800px;
  height: 350px;
  margin: 0 auto;
  border-radius: 7px;
  font-family: Roboto;
  color: black;
  position: absolute;
  z-index: 100;
  background-color: rgb(224, 211, 213);
  top: 321px;
  box-shadow: 8px 4px 4px rgba(128, 128, 128, 0.6);
  align-content: space-between;
}
.header .btn-div {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}
.header .btn {
  width: 20%;
  height: 30px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  margin: 0;
  font-family: Roboto;
  transition: transform 0.05s ease;
  cursor: pointer;
}
.header .btn:hover {
  background-color: blue;
  color: black;
}
.header .btn:active {
  transform: scale(0.95);
}
.header .box-btn-close {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
}
.header .btn-close {
  width: 160px;
  background-color: #6E36F7;
}
.header .btn-close:hover {
  background-color: green;
}
.header .month {
  text-align: center;
  box-sizing: border-box;
  color: red;
  font-weight: bold;
}
.header .daysTitle {
  display: flex;
  width: 100%;
}
.header .day-name-number {
  width: 14.2857142857%;
  box-sizing: border-box;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}
.header .days {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}
.header .inactive {
  color: gray;
  font-weight: normal;
}

.main {
  background-color: lightgray;
}
.main_box-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 40px;
  grid-template-areas: "card1 card1 card1 card2 card2 card2" "card3 card3 card3 card3 card4 card4" "card5 card5 card5 card5 card6 card6" "card5 card5 card5 card5 card7 card7";
}
@media (max-width: 500px) {
  .main_box-grid {
    display: flex;
    flex-direction: column;
  }
}
.main_card {
  border-radius: 7px;
}
@media (max-width: 500px) {
  .main_card {
    width: 95%;
    gap: 5px;
  }
}
.main_p-title {
  color: black;
  font-weight: bold;
  margin: 10px 10px;
}
.main_p-text {
  font-size: 13px;
  margin: 3px 10px;
  color: darkslategray;
}
.main .main-title-margin {
  margin-top: 30px;
}
.main_img {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 80%;
  bottom: 0;
}
.main_btn-card1 {
  background-color: lightpink;
  color: red;
  border: none;
  width: 40%;
  height: 25px;
  margin-top: 12px;
  margin-left: 10px;
  font-family: Roboto;
  transition: transrorm 0.1s ease;
  cursor: pointer;
}
.main_btn-card1:hover {
  background-color: #6E36F7;
  color: white;
}
.main_btn-card1:active {
  transform: scale(0.95);
}
.main_btn-card2 {
  background-color: rgb(217, 53, 53);
  font-family: Roboto;
  color: white;
  border: none;
  border-radius: 4px;
  width: 20%;
  height: 30px;
  margin-left: 10px;
  margin-top: 15px;
  transition: transrorm 0.1s ease;
  cursor: pointer;
}
.main_btn-card2:hover {
  background-color: #6E36F7;
  color: white;
}
.main_btn-card2:active {
  transform: scale(0.95);
}
.main_img-bus {
  position: absolute;
  right: 0px;
  top: -20px;
}
@media (max-width: 500px) {
  .main_img-bus {
    width: 100px;
    height: 100px;
    top: 50px;
  }
}
.main_p-card3 {
  color: darkslategray;
  margin: 20px 10px;
  padding: 8px 0;
  box-sizing: border-box;
}
.main .card4-div1 {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  margin-top: 10px;
}
.main .card4-div2 {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  margin-top: 10px;
}
.main .card4-div3 {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  margin-top: 10px;
}
.main .card4-div4 {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  margin-top: 10px;
}
.main .card4-text {
  color: blue;
  font-family: Roboto;
  font-size: 14px;
  padding: 10px;
}
.main .card4-numbers {
  color: black;
  font-family: Roboto;
  font-size: 14px;
  padding: 10.1px;
}
.main .card4-img {
  padding: 10px;
  width: 17px;
  height: 17px;
}
.main .red {
  display: flex;
  justify-content: center;
  color: red;
}
.main .div1 {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
}
.main .div2 {
  display: flex;
  flex-direction: column;
  width: 15%;
}
.main .text-active {
  cursor: pointer;
}
.main .text-active:hover {
  color: #6E36F7;
  font-weight: bold;
}
.main .card7-text-img {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 15px;
  margin-top: 20px;
}
.main .card7-input-btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.main .card7-input {
  width: 220px;
  height: 30px;
  border: none;
}
.main .card7-input::-moz-placeholder {
  color: rgb(217, 53, 53);
  padding-left: 10px;
}
.main .card7-input::placeholder {
  color: rgb(217, 53, 53);
  padding-left: 10px;
}
.main .card7-btn {
  background-color: rgb(217, 53, 53);
  width: 40px;
  height: 30px;
  border: none;
  color: white;
  transition: transrorm 0.1s ease;
  cursor: pointer;
}
.main .card7-btn:hover {
  background-color: #6E36F7;
  color: white;
}
.main .card7-btn:active {
  transform: scale(0.95);
}
.main .card-1 {
  display: flex;
  flex-direction: column;
  grid-area: card1;
  height: 125px;
  color: gray;
  background-color: white;
  margin-top: 10px;
  box-sizing: border-box;
  position: relative;
}
.main .card-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: card2;
  height: 125px;
  color: gray;
  background-color: white;
  margin-top: 10px;
  box-sizing: border-box;
}
.main .card-3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  grid-area: card3;
  height: 100%;
  background-color: white;
}
@media (max-width: 500px) {
  .main .card-3 {
    width: 95%;
  }
}
.main .card-4 {
  display: flex;
  width: 100%;
  grid-area: card4;
  height: 103%;
  background-color: white;
}
@media (max-width: 500px) {
  .main .card-4 {
    width: 95%;
  }
}
.main .card-5 {
  grid-area: card5;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 70px;
}
@media (max-width: 500px) {
  .main .card-5 {
    margin-bottom: 5px;
  }
}
.main .card-6 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
  grid-area: card6;
  background-color: white;
  height: 70%;
}
@media (max-width: 500px) {
  .main .card-6 {
    margin-top: 5px;
    height: 49%;
  }
}
.main .card-7 {
  grid-area: card7;
  background-color: rgb(169, 169, 199);
  height: 220px;
  margin-top: -100px;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .main .card-7 {
    margin-top: 5px;
    height: 52%;
  }
}

@media (max-width: 500px) {
  .footer {
    width: 95%;
  }
}
.footer_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_container-info {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .footer_container-info {
    display: flex;
    flex-direction: column;
  }
}
.footer_info {
  display: flex;
  flex-direction: column;
}
.footer .info-title {
  color: black;
  font-weight: bold;
  font-size: 14px;
  padding: 9px 0;
}
.footer .info-text {
  color: darkslategray;
  font-size: 13px;
}
@media (max-width: 500px) {
  .footer .info-text {
    display: none;
  }
}
.footer .info-text-end {
  color: blue;
  font-size: 13px;
  padding: 9px 0;
  cursor: pointer;
}
.footer .info-text-end:hover {
  font-weight: bold;
}
@media (max-width: 500px) {
  .footer .info-text-end {
    display: none;
  }
}
.footer .end1 {
  padding-top: 24px;
}
.footer .end2 {
  padding-top: 39px;
}
.footer_box-logos {
  display: flex;
  justify-content: space-between;
}
.footer .frame {
  border: 1px solid blue;
}
.footer .frame-text {
  color: blue;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
}
.footer .frame-text:hover {
  font-weight: bold;
}
.footer_social-nets {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 30px 0;
}
.footer_contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.footer .contacts-img {
  padding: 0 5px;
  cursor: pointer;
}
.footer .contacts-img:hover {
  width: 28px;
  height: 28px;
}/*# sourceMappingURL=style.css.map */