* {
    padding: 0;
    margin: 0;
}

$redForButton: rgb(217, 53, 53);
$blueBackground: #6E36F7;
$forText: darkslategray;

@mixin createLabel($pos) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    transition: 0.3s ease-in-out;
    pointer-events: none;
    left: #{$pos};
}

@mixin focusAndNotPlaceholderForInput($lab) {

    &:focus+#{$lab},
    &:not(:placeholder-shown)+#{$lab} {
        transform: translateY(-180%);
        font-size: 12px;
    }
}

@mixin createCardsFromMain($width) {
    display: flex;
    flex-direction: column;
    width: $width;
    height: 100%;
    margin-top: 10px;
}

.wrapper {
    width: 1200px;
    font-family: Roboto;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    font-size: 16px;
    margin: 0 auto;
}

.header {
    background-color: $blueBackground;
    height: 450px;

    &_box {
        // border: 1px solid black;
        display: flex;
        flex-direction: column;
    }

    &_box-roof {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 650px;
        height: 50px;
        position: relative;
        left: 42%;
        margin-top: 15px;
        margin-bottom: 25px;
        // border: 1px solid red;
    }

    &_p {
        cursor: pointer;

        &:hover {
            color: black;
        }
    }

    .globus-language {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #language {
        background-color: inherit;
        border: none;
        outline: none;
        font-family: Roboto;
        color: white;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            color: black;
        }
    }

    .option {
        background-color: #6E36F7;
        border: none;
    }

    h1 {
        color: rgb(226, 121, 138);
        margin: 20px 0;
        font-size: 42px;
    }

    &_box-chapter {
        display: flex;
        justify-content: space-between;
        width: 70%;
        // border: 1px solid red;
        margin: 10px 0;
    }

    .chapter {
        text-align: center;
        width: 140px;
        padding: 10px 0;
        background-color: #7f61ca;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            background-color: white;
            color: black;
        }
    }

    .chapter-hotel {
        display: flex;
        justify-content: space-around;
    }

    .percent {
        background-color: green;
        width: 55px;
        height: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

        &:hover {
            background-color: red;
        }
    }

    &_box-input {
        position: relative;
        display: flex;
    }

    &_rote {
        display: flex;
        width: 175px;
        justify-content: space-between;
        margin: 10px 0;
    }

    .lab-1 {
        @include createLabel("10px");
    }

    .lab-2 {
        @include createLabel("280px");
        left: 280px;

    }

    .lab-3 {
        @include createLabel("545px");
    }

    .lab-3-1 {
        @include createLabel("650px");
    }

    .lab-4 {
        @include createLabel("815px");
    }

    &_input {
        width: 266px;
        height: 70px;
        margin: 10px 0;
        box-sizing: border-box;
        border: none;
        outline: none;
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
    }

    .button-in-header {
        background-color: $redForButton;
        font-family: Roboto;
        color: white;
        font-size: 16px;
        font-weight: bold;
        width: 115px;
        height: 70px;
        margin: 10px 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: white;
            color: black;
        }
    }

    .input-1 {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        @include focusAndNotPlaceholderForInput(".lab-1");
    }

    .input-2 {
        border-left: 1px solid lightgray;
        @include focusAndNotPlaceholderForInput(".lab-2");
    }

    .input-3 {
        border-left: 1px solid lightgray;
        width: 133px;
        @include focusAndNotPlaceholderForInput(".lab-3");
    }

    .input-3-1 {
        width: 133px;
        @include focusAndNotPlaceholderForInput(".lab-3-1");
    }

    .input-4 {
        border-left: 1px solid lightgray;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        @include focusAndNotPlaceholderForInput(".lab-4");
    }
}

.main {
    background-color: lightgray;

    &_box-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-gap: 40px;
        grid-template-areas:
            "card1 card1 card1 card2 card2 card2"
            "card3 card3 card3 card3 card4 card4"
            "card5 card5 card5 card5 card6 card6"
            "card5 card5 card5 card5 card7 card7";
    }

    &_card {
        border-radius: 7px;
    }

    &_p-title {
        color: black;
        font-weight: bold;
        margin: 10px 10px;
    }

    &_p-text {
        font-size: 13px;
        margin: 3px 10px;
        color: $forText;
    }

    .main-title-margin {
        margin-top: 30px;
    }

    &_img {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 80%;
        bottom: 0;
    }

    &_btn-card1 {
        background-color: lightpink;
        color: red;
        border: none;
        width: 40%;
        height: 25px;
        margin-top: 12px;
        margin-left: 10px;
        font-family: Roboto;
        cursor: pointer;

        &:hover {
            background-color: $blueBackground;
            color: white;
        }
    }

    &_btn-card2 {
        background-color: $redForButton;
        font-family: Roboto;
        color: white;
        border: none;
        border-radius: 4px;
        width: 20%;
        height: 30px;
        margin-left: 10px;
        margin-top: 15px;
        cursor: pointer;

        &:hover {
            background-color: $blueBackground;
            color: white;
        }
    }

    &_img-bus {
        position: absolute;
        right: 0px;
        top: -20px;
    }

    &_p-card3 {
        color: $forText;
        margin: 20px 10px;
        padding: 8px 0;
        box-sizing: border-box;
    }

    .card4-div1 {
        @include createCardsFromMain(10%);
    }

    .card4-div2 {
        @include createCardsFromMain(70%);
    }

    .card4-div3 {
        @include createCardsFromMain(10%);
    }

    .card4-div4 {
        @include createCardsFromMain(10%);
    }

    .card4-text {
        color: blue;
        font-family: Roboto;
        font-size: 14px;
        padding: 10px;
    }

    .card4-numbers {
        color: black;
        font-family: Roboto;
        font-size: 14px;
        padding: 10.1px;
    }

    .card4-img {
        padding: 10px;
        width: 17px;
        height: 17px;
    }

    .red {
        display: flex;
        justify-content: center;
        color: red;
    }

    .div1 {
        display: flex;
        flex-direction: column;
        width: 35%;
        height: 100%;
    }

    .div2 {
        display: flex;
        flex-direction: column;
        width: 15%;
    }

    .text-active {
        cursor: pointer;
        &:hover {
            color: $blueBackground;
            font-weight: bold;
        }
    }

    .card7-text-img {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 0 15px;
        margin-top: 20px;
    }

    .card7-input-btn {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .card7-input {
        width: 220px;
        height: 30px;
        border: none;
    }

    .card7-input::placeholder {
        color: $redForButton;
        padding-left: 10px;
    }

    .card7-btn {
        background-color: $redForButton;
        width: 40px;
        height: 30px;
        border: none;
        color: white;
        cursor: pointer;
        &:hover {
            background-color: $blueBackground;
        }
    }

    .card-1 {
        display: flex;
        flex-direction: column;
        grid-area: card1;
        height: 125px;
        color: gray;
        background-color: white;
        margin-top: 10px;
        box-sizing: border-box;
        position: relative;
    }

    .card-2 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: card2;
        height: 125px;
        color: gray;
        background-color: white;
        margin-top: 10px;
        box-sizing: border-box;
    }

    .card-3 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        grid-area: card3;
        height: 100%;
        background-color: white;
    }

    .card-4 {
        display: flex;
        width: 100%;
        grid-area: card4;
        height: 103%;
        background-color: white;
    }

    .card-5 {
        grid-area: card5;
        background-color: white;
        margin-top: 20px;
        margin-bottom: 70px;
    }

    .card-6 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 20px;
        grid-area: card6;
        background-color: white;
        height: 70%;
    }

    .card-7 {
        grid-area: card7;
        background-color: rgb(169, 169, 199);
        height: 220px;
        margin-top: -100px;
        box-sizing: border-box;
    }
}

.footer {
    &_icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid red;
    }

    &_container-info {
        display: flex;
        justify-content: space-between;
    }

    &_info {
        display: flex;
        flex-direction: column;
        // position: relative;
    }

    .info-title {
        color: black;
        font-weight: bold;
        font-size: 14px;
        padding: 9px 0;
    }

    .info-text {
        color: $forText;
        font-size: 13px;
    }

    .info-text-end {
        color: blue;
        font-size: 13px;
        padding: 9px 0;
        cursor: pointer;
        &:hover {
            font-weight: bold;
        }
    }

    .end1 {
        padding-top: 24px;
    }

    .end2 {
        padding-top: 39px;
    }

    &_box-logos {
        display: flex;
        justify-content: space-between;
    }

    .frame {
        border: 1px solid blue;
    }

    .frame-text {
        color: blue;
        padding: 10px;
        font-size: 13px;
        cursor: pointer;
        &:hover {
            font-weight: bold;
        }
    }

    &_social-nets {
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin: 30px 0;
        // border: 1px solid red;
    }

    &_contacts {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        // border: 1px solid red;
    }

    .contacts-img {
        padding: 0 5px;
        cursor: pointer;
        &:hover {
            width: 28px;
            height: 28px;
        }
    }
}