* {
    padding: 0;
    margin: 0;
}

$redForButton: rgb(217, 53, 53);
$blueBackground: #6E36F7;
$forText: darkslategray;

@mixin createLabel($pos) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    transition: 0.3s ease-in-out;
    pointer-events: none;
    left: #{$pos};
}

@mixin focusAndNotPlaceholderForInput($lab) {

    &:focus+#{$lab},
    &:not(:placeholder-shown)+#{$lab} {
        transform: translateY(-180%);
        font-size: 12px;
    }
}

@mixin createCardsFromMain($width) {
    display: flex;
    flex-direction: column;
    width: $width;
    height: 100%;
    margin-top: 10px;
}

@mixin clickHoverButtons($backgroundColorBtn, $colorTextBtn) {
    transition: transrorm 0.1s ease;
    cursor: pointer;

    &:hover {
        background-color: $backgroundColorBtn;
        color: $colorTextBtn;
    }

    &:active {
        transform: scale(0.95);
    }
}

.wrapper {
    width: 1200px;
    font-family: Roboto;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    font-size: 16px;
    margin: 0 auto;

    @media (max-width: 500px) {
        width: 100%;
        padding-left: 12px;
    }
}

.header {
    background-color: $blueBackground;
    height: 450px;

    @media (max-width: 500px) {
        width: 100%;
        height: auto;
    }

    &_box {
        display: flex;
        flex-direction: column;

        @media (max-width: 500px) {
            width: 100%;
        }
    }

    &_box-roof {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 650px;
        height: 50px;
        position: relative;
        left: 42%;
        margin-top: 15px;
        margin-bottom: 25px;

        @media (max-width: 500px) {
            width: 90%;
            left: 0;
            justify-content: end;
        }
    }

    &_p {
        cursor: pointer;

        &:hover {
            color: black;
        }

        @media (max-width: 500px) {
            display: none;
        }
    }

    .globus-language {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #language {
        background-color: inherit;
        border: none;
        outline: none;
        font-family: Roboto;
        color: white;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            color: black;
        }

        @media (max-width: 500px) {
            display: none;
        }
    }

    .option {
        background-color: #6E36F7;
        border: none;
    }

    h1 {
        color: rgb(226, 121, 138);
        margin: 20px 0;
        font-size: 42px;
    }

    &_box-chapter {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 10px 0;

        @media (max-width: 500px) {
            flex-direction: column;
        }
    }

    .chapter {
        text-align: center;
        width: 140px;
        padding: 10px 0;
        background-color: #7f61ca;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        font-weight: bold;
        @include clickHoverButtons(white, black);

        @media (max-width: 500px) {
            margin: 5px 0;
        }
    }

    .chapter-hotel {
        display: flex;
        justify-content: space-around;
    }

    .percent {
        background-color: green;
        width: 55px;
        height: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

        &:hover {
            background-color: red;
        }
    }

    &_box-input {
        position: relative;
        display: flex;

        @media (max-width: 500px) {
            flex-direction: column;
        }
    }

    &_rote {
        display: flex;
        width: 175px;
        justify-content: space-between;
        margin: 10px 0;
    }

    .lab-1 {
        @include createLabel("10px");

        @media (max-width: 500px) {
            top: 10%;
            left: 25px;
        }
    }

    .lab-2 {
        @include createLabel("280px");
        left: 280px;

        @media (max-width: 500px) {
            top: 28%;
            left: 25px;
        }
    }

    .lab-3 {
        @include createLabel("545px");

        @media (max-width: 500px) {
            top: 47%;
            left: 25px;
        }
    }

    .lab-3-1 {
        @include createLabel("650px");

        @media (max-width: 500px) {
            display: none;
            top: 50%;
            left: 25px;
        }
    }

    .lab-4 {
        @include createLabel("815px");

        @media (max-width: 500px) {
            top: 66%;
            left: 25px;
        }
    }

    &_input {
        width: 266px;
        height: 70px;
        margin: 10px 0;
        box-sizing: border-box;
        border: none;
        outline: none;
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;

        @media (max-width: 500px) {
            width: 95%;
            margin: 0px;
        }
    }

    .button-in-header {
        background-color: $redForButton;
        font-family: Roboto;
        color: white;
        font-size: 16px;
        font-weight: bold;
        width: 115px;
        height: 70px;
        margin: 10px 10px;
        border: none;
        border-radius: 10px;
        @include clickHoverButtons(white, black);

        @media (max-width: 500px) {
            width: 95%;
            margin: 10px 0;
        }
    }

    .input-1 {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        @include focusAndNotPlaceholderForInput(".lab-1");

        @media (max-width: 500px) {
            border-bottom-left-radius: 0;
            border-top-right-radius: 7px;
        }
    }

    .input-2 {
        border-left: 1px solid lightgray;
        @include focusAndNotPlaceholderForInput(".lab-2");

        @media (max-width: 500px) {
            border-bottom: none;
            border-top: lightgray;
        }
    }

    .input-3 {
        border-left: 1px solid lightgray;
        width: 133px;
        @include focusAndNotPlaceholderForInput(".lab-3");

        @media (max-width: 500px) {
            width: 95%;
            border-bottom: 1px solid lightgray;
        }
    }

    .input-3-1 {
        width: 133px;
        @include focusAndNotPlaceholderForInput(".lab-3-1");

        @media (max-width: 500px) {
            display: none;
            width: 95%;
        }
    }

    .input-4 {
        border-left: 1px solid lightgray;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: relative;
        @include focusAndNotPlaceholderForInput(".lab-4");

        @media (max-width: 500px) {
            border-top-right-radius: 0;
            border-bottom-left-radius: 7px;
        }
    }

    .calendar-in-input-img {
        position: absolute;
        top: 32px;
        left: 1022px;
        border-radius: 7px;
        cursor: pointer;
        transition: transform 0.1s ease;

        &:hover {
            transform: scale(1.3);
        }

        @media (max-width: 500px) {
            left: 420px;
            top: 62%;
        }
    }

    .calendar-box {
        display: flex;
        width: 800px;
        height: 350px;
        margin: 0 auto;
        border-radius: 7px;
        font-family: Roboto;
        color: black;
        position: absolute;
        z-index: 100;
        background-color: rgb(224, 211, 213);
        top: 321px;
        box-shadow: 8px 4px 4px rgba(128, 128, 128, 0.600);
        align-content: space-between;
    }

    .btn-div {
        display: flex;
        justify-content: space-around;
        margin-top: 5px;
    }

    .btn {
        width: 20%;
        height: 30px;
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
        background-color: green;
        color: white;
        margin: 0;
        font-family: Roboto;
        transition: transform 0.05s ease;
        cursor: pointer;

        &:hover {
            background-color: blue;
            color: black;
        }

        &:active {
            transform: scale(0.95);
        }
    }

    .box-btn-close {
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
    }

    .btn-close {
        width: 160px;
        background-color: $blueBackground;

        &:hover {
            background-color: green;
        }
    }

    .month {
        text-align: center;
        box-sizing: border-box;
        color: red;
        font-weight: bold;
    }

    .daysTitle {
        display: flex;
        width: 100%;
    }

    .day-name-number {
        width: calc(100% / 7);
        box-sizing: border-box;
        text-align: center;
        padding: 5px;
        cursor: pointer;
    }

    .days {
        display: flex;
        flex-wrap: wrap;
        font-weight: bold;
    }

    .inactive {
        color: gray;
        font-weight: normal;
    }
}

.main {
    background-color: lightgray;

    &_box-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-gap: 40px;
        grid-template-areas:
            "card1 card1 card1 card2 card2 card2"
            "card3 card3 card3 card3 card4 card4"
            "card5 card5 card5 card5 card6 card6"
            "card5 card5 card5 card5 card7 card7";

        @media (max-width: 500px) {
            display: flex;
            flex-direction: column;
        }
    }

    &_card {
        border-radius: 7px;

        @media (max-width: 500px) {
            width: 95%;
            gap: 5px;
        }
    }

    &_p-title {
        color: black;
        font-weight: bold;
        margin: 10px 10px;
    }

    &_p-text {
        font-size: 13px;
        margin: 3px 10px;
        color: $forText;
    }

    .main-title-margin {
        margin-top: 30px;
    }

    &_img {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 80%;
        bottom: 0;
    }

    &_btn-card1 {
        background-color: lightpink;
        color: red;
        border: none;
        width: 40%;
        height: 25px;
        margin-top: 12px;
        margin-left: 10px;
        font-family: Roboto;
        @include clickHoverButtons($blueBackground, white)
    }

    &_btn-card2 {
        background-color: $redForButton;
        font-family: Roboto;
        color: white;
        border: none;
        border-radius: 4px;
        width: 20%;
        height: 30px;
        margin-left: 10px;
        margin-top: 15px;
        @include clickHoverButtons($blueBackground, white)
    }

    &_img-bus {
        position: absolute;
        right: 0px;
        top: -20px;

        @media (max-width: 500px) {
            width: 100px;
            height: 100px;
            top: 50px;
        }
    }

    &_p-card3 {
        color: $forText;
        margin: 20px 10px;
        padding: 8px 0;
        box-sizing: border-box;
    }

    .card4-div1 {
        @include createCardsFromMain(10%);
    }

    .card4-div2 {
        @include createCardsFromMain(70%);
    }

    .card4-div3 {
        @include createCardsFromMain(10%);
    }

    .card4-div4 {
        @include createCardsFromMain(10%);
    }

    .card4-text {
        color: blue;
        font-family: Roboto;
        font-size: 14px;
        padding: 10px;
    }

    .card4-numbers {
        color: black;
        font-family: Roboto;
        font-size: 14px;
        padding: 10.1px;
    }

    .card4-img {
        padding: 10px;
        width: 17px;
        height: 17px;
    }

    .red {
        display: flex;
        justify-content: center;
        color: red;
    }

    .div1 {
        display: flex;
        flex-direction: column;
        width: 35%;
        height: 100%;
    }

    .div2 {
        display: flex;
        flex-direction: column;
        width: 15%;
    }

    .text-active {
        cursor: pointer;

        &:hover {
            color: $blueBackground;
            font-weight: bold;
        }
    }

    .card7-text-img {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 0 15px;
        margin-top: 20px;
    }

    .card7-input-btn {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .card7-input {
        width: 220px;
        height: 30px;
        border: none;
    }

    .card7-input::placeholder {
        color: $redForButton;
        padding-left: 10px;
    }

    .card7-btn {
        background-color: $redForButton;
        width: 40px;
        height: 30px;
        border: none;
        color: white;
        @include clickHoverButtons($blueBackground, white)
    }

    .card-1 {
        display: flex;
        flex-direction: column;
        grid-area: card1;
        height: 125px;
        color: gray;
        background-color: white;
        margin-top: 10px;
        box-sizing: border-box;
        position: relative;
    }

    .card-2 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: card2;
        height: 125px;
        color: gray;
        background-color: white;
        margin-top: 10px;
        box-sizing: border-box;
    }

    .card-3 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        grid-area: card3;
        height: 100%;
        background-color: white;

        @media (max-width: 500px) {
            width: 95%;
        }
    }

    .card-4 {
        display: flex;
        width: 100%;
        grid-area: card4;
        height: 103%;
        background-color: white;

        @media (max-width: 500px) {
            width: 95%;
        }
    }

    .card-5 {
        grid-area: card5;
        background-color: white;
        margin-top: 20px;
        margin-bottom: 70px;

        @media (max-width: 500px) {
            margin-bottom: 5px;
        }
    }

    .card-6 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 20px;
        grid-area: card6;
        background-color: white;
        height: 70%;

        @media (max-width: 500px) {
            margin-top: 5px;
            height: 49%;
        }
    }

    .card-7 {
        grid-area: card7;
        background-color: rgb(169, 169, 199);
        height: 220px;
        margin-top: -100px;
        box-sizing: border-box;

        @media (max-width: 500px) {
            margin-top: 5px;
            height: 52%;
        }
    }
}

.footer {
    @media (max-width: 500px) {
        width: 95%;
    }

    &_icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid red;
    }

    &_container-info {
        display: flex;
        justify-content: space-between;

        @media (max-width: 500px) {
            display: flex;
            flex-direction: column;
        }
    }

    &_info {
        display: flex;
        flex-direction: column;
    }

    .info-title {
        color: black;
        font-weight: bold;
        font-size: 14px;
        padding: 9px 0;
    }

    .info-text {
        color: $forText;
        font-size: 13px;

        @media (max-width: 500px) {
            display: none;
        }
    }

    .info-text-end {
        color: blue;
        font-size: 13px;
        padding: 9px 0;
        cursor: pointer;

        &:hover {
            font-weight: bold;
        }

        @media (max-width: 500px) {
            display: none;
        }
    }

    .end1 {
        padding-top: 24px;
    }

    .end2 {
        padding-top: 39px;
    }

    &_box-logos {
        display: flex;
        justify-content: space-between;
    }

    .frame {
        border: 1px solid blue;
    }

    .frame-text {
        color: blue;
        padding: 10px;
        font-size: 13px;
        cursor: pointer;

        &:hover {
            font-weight: bold;
        }
    }

    &_social-nets {
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin: 30px 0;
        // border: 1px solid red;
    }

    &_contacts {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        // border: 1px solid red;
    }

    .contacts-img {
        padding: 0 5px;
        cursor: pointer;

        &:hover {
            width: 28px;
            height: 28px;
        }
    }
}