* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1200px;
  font-family: Roboto;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  font-size: 16px;
  margin: 0 auto;
}

.header {
  background-color: #6E36F7;
  height: 450px;
}
.header_box {
  display: flex;
  flex-direction: column;
}
.header_box-roof {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 650px;
  height: 50px;
  position: relative;
  left: 42%;
  margin-top: 15px;
  margin-bottom: 25px;
}
.header_p {
  cursor: pointer;
}
.header_p:hover {
  color: black;
}
.header .globus-language {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header #language {
  background-color: inherit;
  border: none;
  outline: none;
  font-family: Roboto;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.header #language:hover {
  color: black;
}
.header .option {
  background-color: #6E36F7;
  border: none;
}
.header h1 {
  color: rgb(226, 121, 138);
  margin: 20px 0;
  font-size: 42px;
}
.header_box-chapter {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 10px 0;
}
.header .chapter {
  text-align: center;
  width: 140px;
  padding: 10px 0;
  background-color: #7f61ca;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
.header .chapter:hover {
  background-color: white;
  color: black;
}
.header .chapter-hotel {
  display: flex;
  justify-content: space-around;
}
.header .percent {
  background-color: green;
  width: 55px;
  height: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.header .percent:hover {
  background-color: red;
}
.header_box-input {
  position: relative;
  display: flex;
}
.header_rote {
  display: flex;
  width: 175px;
  justify-content: space-between;
  margin: 10px 0;
}
.header .lab-1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  left: 10px;
}
.header .lab-2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  left: 280px;
  left: 280px;
}
.header .lab-3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  left: 545px;
}
.header .lab-3-1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  left: 650px;
}
.header .lab-4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  left: 815px;
}
.header_input {
  width: 266px;
  height: 70px;
  margin: 10px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
}
.header .button-in-header {
  background-color: rgb(217, 53, 53);
  font-family: Roboto;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 115px;
  height: 70px;
  margin: 10px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.header .button-in-header:hover {
  background-color: white;
  color: black;
}
.header .input-1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.header .input-1:not(:-moz-placeholder-shown) + .lab-1 {
  transform: translateY(-180%);
  font-size: 12px;
}
.header .input-1:focus + .lab-1, .header .input-1:not(:placeholder-shown) + .lab-1 {
  transform: translateY(-180%);
  font-size: 12px;
}
.header .input-2 {
  border-left: 1px solid lightgray;
}
.header .input-2:not(:-moz-placeholder-shown) + .lab-2 {
  transform: translateY(-180%);
  font-size: 12px;
}
.header .input-2:focus + .lab-2, .header .input-2:not(:placeholder-shown) + .lab-2 {
  transform: translateY(-180%);
  font-size: 12px;
}
.header .input-3 {
  border-left: 1px solid lightgray;
  width: 133px;
}
.header .input-3:not(:-moz-placeholder-shown) + .lab-3 {
  transform: translateY(-180%);
  font-size: 12px;
}
.header .input-3:focus + .lab-3, .header .input-3:not(:placeholder-shown) + .lab-3 {
  transform: translateY(-180%);
  font-size: 12px;
}
.header .input-3-1 {
  width: 133px;
}
.header .input-3-1:not(:-moz-placeholder-shown) + .lab-3-1 {
  transform: translateY(-180%);
  font-size: 12px;
}
.header .input-3-1:focus + .lab-3-1, .header .input-3-1:not(:placeholder-shown) + .lab-3-1 {
  transform: translateY(-180%);
  font-size: 12px;
}
.header .input-4 {
  border-left: 1px solid lightgray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.header .input-4:not(:-moz-placeholder-shown) + .lab-4 {
  transform: translateY(-180%);
  font-size: 12px;
}
.header .input-4:focus + .lab-4, .header .input-4:not(:placeholder-shown) + .lab-4 {
  transform: translateY(-180%);
  font-size: 12px;
}

.main {
  background-color: lightgray;
}
.main_box-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 30px;
  grid-template-areas: "card1 card1 card1 card2 card2 card2" "card3 card3 card3 card3 card4 card4" "card5 card5 card5 card5 card6 card6" "card5 card5 card5 card5 card7 card7";
}
.main_p-title {
  color: black;
  font-weight: bold;
  margin: 5px 10px;
}
.main_p-text {
  font-size: 13px;
  margin: 3px 10px;
  color: gray;
}
.main_img {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 80%;
  bottom: 0;
}
.main_btn-card1 {
  background-color: lightpink;
  color: red;
  border: none;
  width: 40%;
  height: 25px;
  margin-top: 12px;
  margin-left: 10px;
  font-family: Roboto;
  cursor: pointer;
}
.main_btn-card1:hover {
  background-color: #6E36F7;
  color: white;
}
.main_btn-card2 {
  background-color: rgb(217, 53, 53);
  font-family: Roboto;
  color: white;
  border: none;
  border-radius: 4px;
  width: 20%;
  height: 30px;
  margin-left: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.main_btn-card2:hover {
  background-color: #6E36F7;
  color: white;
}
.main_img-bus {
  position: absolute;
  right: 0px;
  top: -20px;
}
.main_p-card3 {
  color: black;
  margin: 20px 10px;
  padding: 8px 0;
  box-sizing: border-box;
}
.main .red {
  display: flex;
  justify-content: center;
  color: red;
}
.main .div1 {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
}
.main .div2 {
  display: flex;
  flex-direction: column;
  width: 15%;
}
.main .card-1 {
  display: flex;
  flex-direction: column;
  grid-area: card1;
  height: 120px;
  color: gray;
  background-color: white;
  border-radius: 4px;
  margin-top: 10px;
  box-sizing: border-box;
  position: relative;
}
.main .card-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: card2;
  height: 120px;
  color: gray;
  background-color: white;
  border-radius: 4px;
  margin-top: 10px;
  box-sizing: border-box;
}
.main .card-3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  grid-area: card3;
  height: 100%;
  background-color: white;
}
.main .card-4 {
  width: 100%;
  grid-area: card4;
  height: 105%;
  background-color: white;
}
.main .card-5 {
  grid-area: card5;
  background-color: white;
  margin-top: 20px;
}
.main .card-6 {
  margin-top: 20px;
  grid-area: card6;
  background-color: white;
}
.main .card-7 {
  grid-area: card7;
  height: 80px;
}/*# sourceMappingURL=style.css.map */